path#zeta-1{
    fill: #ff5e00;
}

path#zeta-2{
    fill: #ff5e00;
}

path#zeta-3{
    fill: #ff5e00;
}

path#zeta-4{
    fill: #ff5e00;
}

path#zeta-5{
    fill: #ff5e00;
}

path#zeta-6{
    fill: #ff5e00;
}